@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primaria: rgb(255, 255, 255);
    --cor-secundaria: rgb(0, 0, 0);
    --cor-tercearia: rgb(113, 41, 207);

    --fonte--titulo: "Playfair Display", serif;
    --fonte-paragrafo: "Work Sans", sans-serif;
    --fonte-trechos: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}




.cabecalho {
    padding: 2% 0 0 15%;
    border-bottom: 1px solid var(--cor-tercearia);
}

.menu {
    display: flex;
    gap: 80px;
}

.menu__link {
    font-family: var(--fonte-trechos);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
    gap: 82px;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.titulo {
    font-size: 2.25rem;
    font-family: var(--fonte--titulo);
}

.titulo-destaque {
    color: var(--cor-tercearia);
}


.paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-paragrafo);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.img__principal {
    width: 80%;
    border-radius: 20%;
    border: 0.2rem solid var(--cor-tercearia);
}
.container {
    position: relative;
    width: 50%;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--cor-tercearia);
    overflow: hidden;
    width: 81%;
    height: 0;
    transition: .3s ease-out;
    border-radius: 21%;
  }
  
  .container:hover .overlay {
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--fonte-trechos);
  }  
.botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px outset var(--cor-tercearia);
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-paragrafo);
    font-weight: 600;
}

.links__titulo {
    font-family: var(--fonte--titulo);
    font-weight: 400;
    font-size: 1.75rem;
}

.botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.rodape {
    padding: 2%;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    text-align: center;
    font-family: var(--fonte-trechos);
    font-size: 1.5rem;
    font-weight: 400 bold;
}

@media (max-width: 1200px) {

    .cabecalho{
        padding: 5%;
    }
    .menu{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 10%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .overlay{
        display: none;
    }
}

@media screen and (max-width:530px) {
    .cabecalho{
        padding: 5%;
    }
    .menu{
        gap: 35px;
    }
    .menu__link{
        font-size: 1.125rem;
        width: 40em;
        text-align: center;
    }

    .apresentacao{
        padding: 8%;
        gap: 35px;
    }
    .titulo{
        font-size: 1.875rem;
    }
    .paragrafo{
        font-size: 1.12rem;
    }
    .links__titulo{
        font-size: 1.4375rem;
        font-weight: 500;
    }
    .img__principal{
        width: 100%;
        justify-content: center;
    }
    .botao{
        gap: 10px;
        width: 60%;  
        font-size: 1.2rem;
        padding: 0.5em 0 0.5em 0;
        align-items: center;
    }
    .rodape{
        font-size: 1.12rem;
    }
}